<head>
    @{
        ViewData["Title"] = "Instellingen";
    }
    @model KnikkerShop.Models.KlantDetailViewmodel

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Gebruiker" asp-action="Index">Overzicht</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Gebruiker" asp-action="Account">Account</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Gebruiker" asp-action="Woonplaats">Woonplaats</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Gebruiker" asp-action="Bestelgeschiedenis">Bestelgeschiedenis</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Aanpas Pagina</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Woonplaats">
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Postcode</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" asp-for="Postcode" value="@Model.Postcode">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Huisnummer</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" asp-for="Huisnummer" value="@Model.Huisnummer">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-8">
                                        </div>
                                    </div>
                                    <input type="submit" value="Opslaan" class="btn btn-default" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>