@{
    ViewData["Title"] = "KnikkerShop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welkom op de KnikkerShop</h1>
    <p>Koop hier alle knikkers die je wilt hebben (die hier te vinden zijn).</p>
</div>